* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.skeleton {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    grid-template-columns: 200px 1fr 250px;
    grid-template rows: 300px 1fr auto;
    height: 100vh;
}

header {
    grid-area: header;
    background: 485869;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(138, 153, 169, 1) 50%, rgba(23, 32, 42, 1) 100%);
    backdrop-filter: blur(10px);
    font-size: 50px;
    height: 300px;
    color: white;
    text-align: center;
}

.navbar {
    grid-area: nav;
    grid-template-columns: repeat(4, 1fr);
}

.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.topics button {
    width: 100%;
    height: 100%;
    padding: 20px;
}

body {
    background-color: #17202a;
}

footer {
    grid-area: footer;
    color: white;
    margin-bottom:
}

p {
    grid-area: main;
     grid-template-columns: repeat(4, 1fr);
}
